<div class="container">
  <div class="row">
    <table class="table">
      <% @products.each do |product| %>
          <tr>
            <td> <%= product.name %> </td>
            <td> <%= product.description %> </td>
            <td>$<%= product.price %> </td>
            <td> <%= link_to 'Edit', edit_product_path(product) %> </td>
            <td> <%= link_to image_tag('botondelete.png', :size => "30x30"), admin_path(product), method: :delete, remote: true, data: {confirm: 'Estás seguro de eliminar el producto?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= paginate @products %>
</div>
