<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <% if @orders.empty? == false  %>
      <table class="table">
        <% @orders.each do |order| %>
            <tr>
              <td>  <%= order.product.name %> </td>
              <td>$ <%= order.product.price %> </td>
              <td>  <%= link_to order, method: :delete, data: {confirm: "Estás seguro?"} do %>
                   <i class="fas fa-trash"></i><% end %></td>
            </tr>
        <% end %>
        <tr>
          <td> Total: </td>
          <td>$ <%= @orders.map{|order| order.product.price }.sum %></td>
          <td></td>
        </tr>
      </table>
      <%= link_to 'Volver', products_path, class: "btn btn-warning col-md-12" %>
      <% else %>
      <div class=" justify-content-center">
        <h3>Lo lamento, tu carro está vacio :( </h3>
        <h4>Puedes agregar productos presionando el botón:  </h4>
          <%= link_to 'Volver', products_path, class: "btn btn-warning col-md-12" %>
      </div>
        <% end %>
      </div>
    <div class="col-md-3">

    </div>
  </div>
    <br><br>
</div>
