<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if @orders.empty? == false  %>
        <table class="table">
          <tr>
            <td></td>
            <td>Producto</td>
            <td>Precio</td>
            <td>Quitar</td>
          </tr>
          <% @orders.each do |order| %>
          <tr>
              <td>  <%= image_tag order.product.image.variant(resize: "50x50!") %> </td>
              <td>  <%= order.product.name %> <br>
                <h6><%= order.product.description %> </h6> </td>
              <td>$ <%= order.product.price %> </td>
              <td>  <%= link_to order, method: :delete, data: {confirm: "Est치s seguro?"} do %>
                   <i class="fas fa-trash"></i><% end %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class=" justify-content-center">
          <h3>Lo lamento, tu carro est치 vacio :( </h3>
          <h4>Puedes agregar productos presionando el bot칩n:  </h4>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if @orders.empty? == false %>
        <div class="">
          <h4>Resumen de tu Orden:</h4>
          <strong>TOTAL: $</strong><%= @orders.map{|order| order.product.price }.sum %>
        </div>
        <br>
        <%= link_to clearcart_order_path(@orders), method: :put, data: {confirm: "Est치s seguro de borrar todos los elementos de tu carro?"}, class: "btn btn-danger col-md-12" do %>
          <i class="far fa-times-circle"> Limpiar Carro</i><% end %>
      <% end %>
        <%= link_to products_path, class: "btn btn-warning col-md-12" do %>
          <i class="fas fa-undo-alt"> Volver</i><% end %>
        <%= link_to "", class: "btn btn-success col-md-12" do %>
          <i class="fas fa-cart-plus"> Completa tu compra</i><% end %>
    </div>
  </div>
</div>
