<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @orders.empty? == false %>
          <li class="btn"> <%= link_to clearcart_order_path(@orders), method: :put, data: {confirm: "Est치s seguro de borrar todos los elementos de tu carro?"}, class: "btn btn-danger" do %>
             <i class="far fa-times-circle"> Limpiar Carro</i><% end %> </li>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if @orders.empty? == false  %>
      <table class="table">
        <% @orders.each do |order| %>
            <tr>
              <td>  <%= image_tag order.product.image.variant(resize: "50x50!") %> </td>
              <td>  <%= order.product.name %> <br>
                <h6><%= order.product.description %> </h6> </td>
              <td>$ <%= order.product.price %> </td>
              <td>  <%= link_to order, method: :delete, data: {confirm: "Est치s seguro?"} do %>
                   <i class="fas fa-trash"></i><% end %></td>
            </tr>
        <% end %>
        <tr>
          <td></td>
          <td> Total: </td>
          <td>$ <%= @orders.map{|order| order.product.price }.sum %></td>
          <td></td>
        </tr>
      </table>
      <%= link_to 'Volver', products_path, class: "btn btn-warning col-md-12" %>
      <% else %>
      <div class=" justify-content-center">
        <h3>Lo lamento, tu carro est치 vacio :( </h3>
        <h4>Puedes agregar productos presionando el bot칩n:  </h4>
          <%= link_to 'Volver', products_path, class: "btn btn-warning col-md-12" %>
      </div>
        <% end %>
      </div>
    <div class="col-md-3">

    </div>
  </div>
    <br><br>
</div>
