<div class="container">
  <div class="row wrapper">
    <div class="col-md-8 main">
      <div id="cartelement" class="row">
        <div id ="backgrey" class=" col-md-12">
          <h3><strong>Carro de Compras:</strong> ( <%= @orders.count %> productos )</h3>
        </div>
      </div>
      <br>
      <% if @orders.empty? == false  %>
        <% @orders.each do |order| %>
        <div id="cartelement" id="backgrey" class="row">
            <div class="col-md-3">
              <%= image_tag order.product.image.variant(resize: "70x70!") %>
            </div>
            <div class="col-md-5">
              <%= order.product.name %> <br>
              <%= order.product.description %>
            </div>
            <div class="col-md-2">
               $<%= order.product.price %>
            </div>
            <div class="col-md-2">
              <%= link_to order, method: :delete, data: {confirm: "Est치s seguro?"} do %>
                   <i class="fas fa-trash"> </i><% end %>
                   Quitar
            </div>

          </div>
        <br>
        <% end %>
      <% else %>
        <div class="col-md-12 justify-content-center">
          <h3>Lo lamento, tu carro est치 vacio :( </h3>
          <h4>Puedes agregar productos presionando el bot칩n:  </h4>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 sidebar">
      <% if @orders.empty? == false %>
        <div class="">
          <h4>Resumen de tu Orden:</h4>
          <strong>TOTAL: $</strong><%= @orders.map{|order| order.product.price }.sum %>
        </div>
        <br>
        <%= link_to clearcart_order_path(@orders), method: :put, data: {confirm: "Est치s seguro de borrar todos los elementos de tu carro?"}, class: "btn btn-danger col-md-12" do %>
          <i class="far fa-times-circle"> Limpiar Carro</i>
        <% end %>
      <% end %>
        <%= link_to products_path, class: "btn btn-warning col-md-12" do %>
          <i class="fas fa-undo-alt"> Volver</i>
        <% end %>
        <%= link_to "", class: "btn btn-success col-md-12" do %>
          <i class="fas fa-cart-plus"> Completa tu compra</i>
        <% end %>
    </div>
  </div>
</div>


  <script type="text/javascript">
    var sidebar = document.getElementById('sidebar');
    Stickyfill.add(sidebar);

  </script>
