<div id = loginback>
<div class="container bodysize">
   <div class="row">
     <div class="col-md-6">

     </div>
     <div id="register" class="col-md-6">
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="field register">
           <br>
           <%= f.label :email %><br />
           <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control form-control-sm" %>
         </div>

         <div class="field register">
           <br>
           <%= f.label :password %><br />
           <%= f.password_field :password, autocomplete: "current-password", :class => "form-control form-control-sm" %>
         </div>

         <% if devise_mapping.rememberable? %>
           <div class="field register">
             <%= f.check_box :remember_me %>
             <%= f.label :remember_me %>
           </div>
         <% end %>

         <div class="actions register">
           <%= f.submit "Iniciar Sesión", :class => "btn btn-success col-md-12" %>
         </div>

       <% end %>

      <i class="register"><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
         <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
       <% end %></i>
        <br>
     </div>
    </div>
  </div>
</div>
