<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control form-control-sm" %> <br>
  </div>

  <div class="actions">
    <%= form.submit "Agregar", :class => "btn btn-outline-success col-md-12" %>
    <%= link_to 'Volver', admins_path, class: "btn btn-outline-secondary col-md-12" %><br>
  </div>
<% end %>
