<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field register">
    <%= form.label :Nombre_de_la_categoria %>
    <%= form.text_field :name, class: "form-control form-control-sm" %> <br>
  </div>

  <div class="actions">
    <%= button_tag type: 'submit', class: "btn btn-success col-md-12", id: "register-button" do %>
        <i class="fa fa-plus"> Agregar</i> <% end %>
  </div>

  <br>
  <div class="actions">
    <%= link_to admins_path, class: 'btn btn-warning col-md-12' do %>
      <i class="fas fa-undo-alt"></i> Volver<% end %>
  </div>
  <br><br>
<% end %>>
