  <div class="container">
    <h1>Products</h1> <br>
    <div class="row">
      <div class="col-md-3">
        <div class="field">
          <label>Categorias</label>
          <ul>
            <% @categories.each do |category| %>
              <li><%= link_to category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-9" style="background-color: blue;">
      <div class="row">
        <% @products.each_slice(3) do |row| %>
          <% row.each do |product| %>
            <div id="animated-example" class="animated bounceIn"  class="col-md-3">
              <div class="card">
                <%= link_to product do %>
                <%= image_tag product.image.variant(resize: "150x150!") , class: "card-img-top" %>
                <% end %>
                <div class="body">
                  <p class="prodname"> <%= product.name %> </p>
                  <p class="precio"> Precio: $ <%= product.price %> </p>
                  <% if user_signed_in?%>
                  <%= link_to 'Agregar al Carro', product_orders_path(product), class: 'btn btn-success col-md-12', method: :post %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="w-100"> </div>
        <% end %>
        </div>
      </div>
    </div>
    <%= paginate @products %>
  </div>
 <br>
