  <div class="container">
    <h1>Products</h1> <br>
    <div class="row">
      <div class="col-md-3" style="background-color: red;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-9" style="background-color: blue;">
      <div class="row">
        <% @products.each_slice(3) do |row| %>
          <% row.each do |product| %>
            <div id="animated-example" class="animated bounceIn"  class="col-md-3">
              <div class="card">
                <%= link_to product do %>
                <%= image_tag product.image.variant(resize: "150x150!") , class: "card-img-top" %>
                <% end %>
                <div class="body">
                  <h5> <%= product.name %> </h5>
                  <p> Precio: $ <%= product.price %> </p>
                  <% if user_signed_in?%>
                  <%= link_to 'Agregar al Carro', product_orders_path(product), class: 'btn btn-success', method: :post %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="w-100"> </div>
        <% end %>
        </div>
      </div>
    </div>
    <%= paginate @products %>
  </div>
 <br>
