<p id="notice"><%= notice %></p>
  <div class="container">
  <h1>Products</h1> <br>
  <div class="row">

    <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p>Precio: <%= product.price %></p>
            <p><%= link_to 'Show', product %>
               <%= link_to 'Edit', edit_product_path(product) %>
               <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          </div>
      </div>
    </div>
    <% end %>
    </div> <br>

    <%= link_to 'New Product', new_product_path %>
