<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center col-md-6">
      <%= image_tag @product.image.variant(resize: "200x200!"), class: "img-fluid"%>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Nombre:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Descripción:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Precio:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Categorias:</strong>
        <% @product.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
      <%= link_to product_orders_path(@product), class: 'btn btn-success col-md-8', method: :post do %>
        <i class="fas fa-plus"></i><i class="fas fa-shopping-cart"></i> Agregar<% end %> <br>
      <%= link_to products_path, class: 'btn btn-warning col-md-8', method: :post do %>
        <i class="fas fa-undo-alt"></i> Volver<% end %>
    </div>
</div>
</div>
