<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @product.image.variant(resize: "300x300!"), class: "img-fluid"%>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Nombre:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Descripción:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Precio:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Categorias:</strong>
        <% @product.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
      <%= link_to 'Agregar al Carro', product_orders_path(@product), class: 'btn btn-success col-md-8', method: :post %><br>
      <%= link_to 'Volver', products_path , class: "btn btn-outline-primary col-md-8"  %>
    </div>
</div>
</div>
