<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Logo Tienda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class = "btn">
            <a class="nav-link" href="<%= admins_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
        <% else %>
          <li class = "btn">
            <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class = "btn col-12">
            <a class="nav-link" href="<%= orders_path %>">Mi Carro</a>
          </li>
        <% end %>
      <% else %>
        <li class = "btn">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
      <% end %>
    </ul>
    <ul class=" navbar-nav justify-content-end">
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize: "50x50!"), class: "rounded-circle" %>
        <% else %>
          <%= image_tag gravatar_image_url(current_user.email, size: 10), class: "rounded-circle col-3" %>
        <% end %>
        <li class = "showuser btn">Hola, <%= current_user.name %></li>
        <li class = "btn"><%= link_to 'Mi Cuenta', edit_user_registration_path, class: "btn btn-warning col-12" %></li>
        <li class = "btn"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "btn btn-danger col-12" %></li>
      <%else%>
        <li class = "btn"><%= link_to 'Iniciar Sesión', new_user_session_path, class: "btn btn-success col-12" %></li>
        <li class = "btn"><%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-warning col-12" %></li>
      <%end%>
    </ul>
  </nav>
</div>
