<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class=" navbar-nav justify-content">
    <% if user_signed_in? %>
      <% if current_user.avatar.attached? %>
    <li class = "showuser btn">  Hola, <%= current_user.name %> <%= image_tag current_user.avatar.variant(resize: "50x50!"), class: "rounded-circle" %></li>
      <% else %>
        <%= image_tag gravatar_image_url(current_user.email, size: 50), class: "rounded-circle" %>
      <% end %>
    <% end %>
  </ul>
  <%= form_tag({controller: 'products', action: "index"}, method: :get) do %> <%= text_field_tag 'searchbox', params[:searchbox] %> 
  <%= submit_tag "Buscar", :name => nil, class:"btn btn-outline-success" %>
  <% end %>
  <div class="navbar-collapse collapse order-3 dual-collapse2" id="navbarSupportedContent">
    <ul class=" navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
        <li class="btn">  <%= link_to admins_path, class: "btn btn-success col-12" do %>
              <i class="fas fa-home"></i> Home <% end %>
        <% else %>
        <li class="btn">  <%= link_to root_path, class: "btn btn-success col-12" do %>
              <i class="fas fa-home"></i> Home <% end %></li>
          <li class="btn">  <%= link_to orders_path, class: "btn btn-warning col-12" do %>
                <i class="fas fa-shopping-cart"></i> Mi Carro <% end %></li>
          <% end %>
      <% else %>
      <li class="btn">  <%= link_to root_path, class: "btn btn-success col-12" do %>
            <i class="fas fa-home"></i> Home <% end %></li>
      <% end %>
      <% if user_signed_in? %>
      <li class="btn">  <%= link_to edit_user_registration_path, class: "btn btn-warning col-12" do %>
            <i class="fas fa-user"></i> Mi Cuenta <% end %></li>
        <li class="btn">  <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger col-12" do %>
              <i class="fas fa-times"></i> Cerrar Sesión <% end %></li>
      <%else%>
      <li class="btn">  <%= link_to new_user_session_path, class: "btn btn-warning col-12" do %>
            <i class="fas fa-user"></i> Iniciar Sesión<% end %></li>
      <li class="btn">  <%= link_to new_user_registration_path, class: "btn btn-warning col-12" do %>
            <i class="fas fa-user-plus"></i> Registrarse <% end %></li>
      <%end%>
    </ul>
  </div>
</nav>
